body {
    font-family: Arial;
    background: rgb(247, 230, 156);
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
#form {
    background: rgb(255, 255, 255);
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0, 15);
}

#myImg{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    transition: 0.3s ease;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

#myImg:hover{
    transform: scale(1.2) rotate(2deg);
    transition: 0.2s ease-in-out;
}

#name{ margin: 10px 0 0; color: #b35600;}
.course{color: gray; font-size: 14px; margin-bottom: 15px;}
input, select{
    width: 280px;
    padding: 8px;
    margin: 6px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

btns{margin-top: 10px;}
button{
    background: rgb(172, 109, 51);
    color: rgb(247, 216, 115);
    border: none;
    padding: 7px 10px;
    border-radius: 6px;
    cursor: pointer;
    margin: 3px;
    transition: 0.5s ease-in-out;
}

button:hover{background: rgb(126, 74, 16);}
#status{
    margin-top: 15px;
    font-weight: bold;
    color: #835d0c;
    transition: 0.5s ease-in;
    
}

#nickname{
    transition: 0.2s ease-in-out;
    width: 250px;
}

#nickname:hover{
    transition: 0.2s ease-in;
    width: 250px;
}
